<%- include("partials/header")%> <%- include("partials/nav")%>
<div class="flex flex-col mt-5 px-10">
  <a href="/expense/show" class="text-zinc-400 text-sm font-medium mb-4">
    <i class="ri-arrow-left-line"></i>
    Go back
  </a>
  <h1 class="font-semibold text-3xl">Details</h1>
  <div class="text-lg mt-4 font-medium">
    Title: <span class="text-zinc-400 ml-2"><%= expense.title %></span>
  </div>
  <div class="text-lg mt-2 font-medium">
    Amount: <span class="text-zinc-400 ml-2"><%= expense.amount %></span>
  </div>
  <div class="text-lg mt-2 font-medium">
    Category: <span class="text-zinc-400 ml-2"><%= expense.category %></span>
  </div>
  <div class="text-lg mt-2 font-medium">
    Remark: <span class="text-zinc-400 ml-2"><%= expense.remark %></span>
  </div>
  <div class="text-lg mt-2 font-medium">
    Payment Mode:
    <span class="text-zinc-400 ml-2"><%= expense.paymentmode %></span>
  </div>
  <div class="flex items-center gap-5 mt-4">
    <a
      class="font-medium bg-[#FFA500] hover:bg-[#FF8C00] w-fit px-4 py-1 rounded-md transition-all duration-300"
      href="/expense/update/<%= expense._id%>"
      >Edit</a
    >
    <a
      class="font-medium bg-[#DC143C] hover:bg-[#B22222] w-fit px-4 py-1 rounded-md transition-all duration-300"
      href="/expense/delete/<%= expense._id%>"
      >Delete</a
    >
  </div>
</div>
<%- include("partials/footer")%>
