<%- include("partials/header")%> <%- include("partials/nav")%>
<div class="flex flex-col px-10 mt-5">
  <a href="/expense/details/<%= updateExpense._id %>" class="text-zinc-400 text-sm font-medium mb-4">
    <i class="ri-arrow-left-line"></i>
    Go back
  </a>
  <h1 class="font-semibold text-3xl">Update expenses</h1>
  <form
    action="/expense/update/<%= updateExpense._id%>"
    method="post"
    class="flex flex-col w-fit gap-4 mt-4"
  >
    <input
      class="bg-zinc-700 w-60 px-4 py-2 rounded-lg"
      type="text"
      name="title"
      placeholder="Title"
      value="<%= updateExpense.title %>"
    />
    <input
      class="bg-zinc-700 w-60 px-4 py-2 rounded-lg"
      type="number"
      name="amount"
      placeholder="Amount"
      value="<%= updateExpense.amount %>"
    />
    <input
      class="bg-zinc-700 w-60 px-4 py-2 rounded-lg"
      type="text"
      name="category"
      placeholder="Category"
      value="<%= updateExpense.category %>"
    />
    <input
      class="bg-zinc-700 w-60 px-4 py-2 rounded-lg"
      type="text"
      name="remark"
      placeholder="Remark"
      value="<%= updateExpense.remark %>"
    />
    <input
      class="bg-zinc-700 w-60 px-4 py-2 rounded-lg"
      type="text"
      name="paymentmode"
      placeholder="Payment Mode"
      value="<%= updateExpense.paymentmode %>"
    />
    <button
      class="bg-blue-500 hover:bg-blue-600 transition-all duration-300 inline-block w-fit px-6 py-2 rounded-md font-semibold mt-2"
    >
      Update Expense
    </button>
  </form>
</div>
<%- include("partials/footer")%>
